body {
	background-color: #fff;
	color: #333;
}

body, p, ol, ul, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	min-height: 100%; 
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 10px;
}

p {
	padding: 5px;
}

a { 
	color: #D95E16;
	padding: 0 2px;
	text-decoration: none;
}

a:hover {
	background-color: #FF813C;
	color: #F0F0F0;
}

.notice {color: green;
         position: static; 
         float: right;}
.alert {color: red;   
        position: static;
        float: right;}

#header, #main, #footer {
	width: 100%;
}

#header {
	font-family: "Myriad Web Pro", Helvetica, Arial,sans-serif;
	letter-spacing: 1px;
	border-bottom: 5px solid #333333;
	color: #333333;
	padding: 10px 0;
	height: 35px;
}

#header #user_bar {
	float: right;
	font-size: 10px;
}

#user_bar select {
	font-size: 10px;	
}

#footer {
	position: absolute;
	border-top: 5px solid #c1c1c1;
	padding: 5px 5px;
	text-align: center;
	font-size: 11px;
	height: 40px;
}

#header h1 {
	padding-top: 10px;
	float: left;
	font-size: 24px;
}

#header h1 a{
	color: blue;
	font-size: 20px;
}

#header h1 a:hover {
	background-color: white;
	color: black;
	border-bottom: 4px solid #ccc;
}

#header p{
	float: right;
}

#main h1 {
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid #bbb;
	margin-bottom: 10px;
	padding-bottom: 60px;
}

#main table{
	margin: 0;
}

#main form {
	text-align: left;
	font-family: sans-serif;
    font-size: 10px;

}

#main form label{
	width: 50px;
	display: block;
	text-align: left;
	padding-right: 5px;
	float: left;
	line-height: 14px;
	vertical-align: center;
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	margin-right: 10px;
}

#main form label.check_box_label {
	width: auto;
	display: inline;
	text-align: right;
	padding-right: 5px;
	line-height: 10px;
	vertical-align: center;
	background-color: #FFF;
	border: none;
}

#main form .field, #main form .actions {
	padding-top: 5px;
	clear: both;
}

#main form input[type=text], #main form input[type=password], #main form textarea {
	float:left;
	font-size: 10px;
	width: 300px;
	padding: 1px;
	border: 1px solid #ccc;
}

#main form input[type=checkbox]{
	margin: 4px;
	float: left;
}

#main form textarea {
	height: 50px;
}

#main form input[type=submit]{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: sans-serif;
    font-size: 10px;
}

#main form input[type=button]{
    margin-top: 5px;
	margin-bottom: 5px;
	font-family: sans-serif;
    font-size: 10px;
}

#main h3 {
	padding-top: 10px;
	height: 20px;
}

#main h3 .actions{
	display: inline;
	font-weight: normal;
	font-size: 10px;
}

#main h3:hover .actions{
	display: inline;
}

.fieldWithErrors{
	display: table;
	float: left;
	margin: 0;
	width: 100px;
	margin-right: 10px;
}

#main form .fieldWithErrors input, #main form .fieldWithErrors textarea{
	width: 250px;
	border: 2px solid red;
}

#errorExplanation{
	width: 413px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #F0F0F0;
	margin: 0;
}

#errorExplanation h2{
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p{
	color: #333;
	margin-bottom: 0;
	padding: 5px;
	margin: 0;
}

#errorExplanation ul li{
	font-size: 12px;
	list-style: square;
}

label {
  color: blue;
}
#map-wrapper {
  position:absolute;
  width: 79%;
  height: 100%;
  margin-top:5px;
}

#map-canvas form {
	opacity: 0.75;
}


#map_canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	display:block;
}
#geocode {
	position:relative;
	left:0;
	float:left;
}

#sidebar form {
    width: 91%;
	text-align: left;
	font-family: sans-serif;
    font-size: 10px;
}

#sidebar {
  position: absolute;
  margin-top: 5px;
  width: 20%;
  height: 100%;
  overflow: auto;
  border: 1px solid black;
  background-color: white;
  color: maroon; 
  font-family: sans-serif;
  font-size: 10px;
  border-bottom: 1px solid gray;
  right: 5px;
  display: block;
}
#sidebar form label{
	width: 20%;
	padding-right: 5px;
	clear:both;
	background-color: #F0F0F0;
	border: 1px solid #ccc;
	margin-right: 10px;
	font-family: sans-serif;
    font-size: 10px;
}

#sidebar form input[type=text]  {
	float:left;
	font-family: sans-serif;
	font-size: 10px;
	width: 70%;
	padding: 1px;
	border: 1px solid #ccc;
}
#sidebar form input[type=submit]{
	margin-top: 5px;
	margin-bottom: 5px;
	clear:both;
	float:left;
	font-family: sans-serif;
    font-size: 10px;
}

#sidebar form input[type=button]{
    margin-top: 5px;
	margin-bottom: 5px;
	float:left;
	font-family: sans-serif;
    font-size: 10px;
}

#sidebar td {
	font-family: sans-serif;
    font-size: 10px;
	
}
#sidebar td label {
    width: auto;
	
}