<%= div_for user do %>
<h3>
   	<%= link_to user.name, user %> 
   	<span class='actions'> 		
   	<%= link_to "Request Connection ", users_path %>
    </span>
   	
   	
 </h3>
 <%= simple_format "Email: " + user.email %>    
 <% end %>

